/*#### empty_wrap ####*/
.empty_wrap {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../public/assets/images/empty_background.jpeg');
    background-size: 100%;
    /* background-repeat: no-repeat; */
}

.empty_wrap .background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.empty_wrap h2 {
    width: 100vw;
    height: 60vh;
    text-align: center;
    /* padding-bottom: 5vh; */
    line-height: 90vh;
    font-weight: normal;
    color: #fff;

}

.empty_wrap .home_btn {
    display: block;
    width: 160px;
    height: 44px;
    line-height: 44px;
    font-size: 13px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    transition: 0.5s all;
}

.empty_wrap .home_btn:hover {
    background-color: rgba(0, 0, 0, 1);
}