/*#### header ####*/
#header {
    padding: 0 44px;
}

/*#### container ####*/
#container {
    max-width: 1135px;
    padding: 140px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/*### cart_wrap */
.cart_wrap {
    max-width: 705px;
    width: 705px;
}

.cart_wrap h4 {
    font-size: 17px;
    margin-bottom: 20px;
}

.cart_wrap h4 span {
    font-size: 10px;
    font-weight: normal;
}

.cart_wrap h4 .shop_num {
    font-weight: bold;
}

.cart_wrap ul {
    width: 100%;
}

.cart_wrap ul li {
    width: 100%;
    /* padding: 20px 0; */
    display: flex;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
}

/*### no_cart */
.cart_wrap .no_cart {
    margin-top: 50px;
    margin-left: 6px;
    font-size: 13px;
    font-weight: bold;
    display: none;
}

/*### payment_wrap */
.payment_wrap {
    max-width: 335px;
}

.payment_wrap h4 {
    font-size: 17px;
}

.payment_wrap ul {
    margin: 25px auto 17px;
    padding-top: 10px;
    border-top: 2px solid #000;
}

.payment_wrap ul li {
    /* padding: ; */
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c6c6c6;
    padding: 13px 0;
}

.payment_wrap ul li:last-child {
    border-bottom: none;
    font-size: 14px;
    font-weight: bold;
}

.payment_wrap ul li .delivery_desc {
    font-size: 9px;
    color: #c9c9c9;
    padding-right: 16px;
}

.payment_wrap a {
    display: block;
    width: 100%;
    /* height: 50px; */
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

#keep_order {
    background-color: #000;
    color: #fff;
    margin-bottom: 5px;
}

#keep_shop {
    border: 1px solid #000;
}

.payment_wrap .caution_wrap {
    margin-top: 22px;
}

.payment_wrap .caution_wrap p {
    /* margin-bottom: 5px; */
    font-size: 12px;
    line-height: 1.5;
    color: #ed220b;
}
